# Example Vite env for frontend
# Copy to .env and update values for deployment

# Base API URL for backend (no trailing slash), e.g. https://api.example.com
VITE_API_URL=http://localhost:5000

# Stripe publishable key (optional)
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51Rlrb6QU12STd9GvoZvjGzJZLQM0lCNYUdtq3vOBChu4TZFYkZWMVP0xuN9wqKSTVvFhf70mWjovRnB1VVsBIncY00AU4OIGwT
